<footer class="footer">
  <div class="footer-wrap">
    <aside class="footer-widget-wrap widget-area widget-area-default cf column" role="complementary">
      <div id="footer-widget-1" class="footer-widget">
        <section id="custom_html-6" class="widget_text widget widget_custom_html">
          <a class="navbar-item" href="https://xmera.de">
            <img class="navbar-logo" src="{{{uiRootPath}}}/img/logo-white.png" alt="xmera Omnia Docs" width="170" height="63">
          </a>
          <p>xmera Omnia bietet Dir eine Plattform, auf der Du Informationssicherheitsmanagement und IT-Betrieb intelligent verbindest.</p>
          {{> social-nav}}
        </section>
      </div>
    </aside>
    <div class="footer-menu-wrap column middle">
      <nav id="footer-nav navbar">
        <h5 class="headline">Navigation</h5>
        <div>
          <div class="navbar-item"><a href="https://xmera.de/">Startseite</a></div>
          <div class="navbar-item"><a href="https://xmera.de/funktionen/">Funktionen</a></div>
          <div class="navbar-item"><a href="https://xmera.de/live-termin/">Live Termin</a></div>
          <div class="navbar-item"><a href="https://xmera.de/infoservice/">Newsletter</a></div>
          <div class="navbar-item"><a href="https://xmera.de/dokumentation/">Dokumentation</a></div>
          <div class="navbar-item"><a href="https://xmera.de/downloads/">Downloads</a></div>
          <div class="navbar-item"><a href="https://xmera.de/ueber-uns/">Über uns</a></div>
          <div class="navbar-item"><a href="https://xmera.de/jobs/">Jobs</a></div>
          <div class="navbar-item"><a href="https://xmera.de/blog/">Blog</a></div>
          <div class="navbar-item"><a href="https://xmera.de/kontakt/">Kontakt</a></div>
        </div>
      </nav>
    </div>
      <div class="footer-menu-wrap column right">
        <nav id="footer-nav navbar">
          <h5 class="headline">Rechtliche Hinweise</h5>
          <div>
            <div class="navbar-item"><a href="https://xmera.de/impressum/">Impressum</a></div>
            <div class="navbar-item"><a href="https://xmera.de/datenschutz/">Datenschutz</a></div>
            <div class="navbar-item"><a href="https://xmera.de/bildnachweis/">Bildnachweise</a></div>
            <div class="navbar-item"><a href="https://xmera.de/reporting-security-issues/">Security</a></div>
          </div>
        </nav>
      </div>
  </div>
  <div class="site-info">
    <span>© 2021 - 2024 xmera Solutions.</span>
  </div>
</footer>
