<footer class="footer">
  <div class="footer-wrap">
    <aside class="footer-widget-wrap widget-area widget-area-default cf" role="complementary">

      <div id="footer-widget-1" class="footer-widget">
        <section id="custom_html-6" class="widget_text widget widget_custom_html">
          <div class="textwidget custom-html-widget"><span style="color:#a8a7a7;"><b style="font-size:1.25rem">xmera</b><span
                style="color:#f3f2f2;padding-left: 0.5rem;">WERTE SCHÜTZEN</span></span></div>
        </section>
      </div>
    </aside>
    <div class="footer-menu-wrap">
      <nav id="footer-nav navbar">
        <div class="navbar-end">
          <div class="navbar-item"><a href="https://xmera.de/impressum/">Impressum</a></div>
          <div class="navbar-item"><a href="https://xmera.de/datenschutz/">Datenschutz</a></div>
          <div class="navbar-item"><a href="https://xmera.de/einsatz-von-cookies/">Cookies</a></div>
          <div class="navbar-item"><a href="https://xmera.de/bildnachweis/">Bildnachweise</a></div>
        </div>
      </nav>
    {{> social-nav}}
    </div>
    <div class="site-info">
      <span>© 2017 - 2022 xmera.</span>
    </div>
  </div>
</footer>
