<nav id="social-nav">
  <a href="https://www.linkedin.com/company/xmera-solutions"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://github.com/xmera-circle"><i class="fa fa-github" aria-hidden="true"></i></a>
</nav>
