<nav id="social-nav">
  <a href"#"><i class="fa fa-xing" aria-hidden="true"></i></a>
  <a href"#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href"#"><i class="fa fa-github" aria-hidden="true"></i></a>
</nav>