/* xmera custom css */
/* Navbar */
.navbar {
  justify-content: space-between;
}

.navbar-logo {
  max-height: 63px;
  width: auto;
  margin-top: 0;
}

.navbar-brand {
  padding-left: 48px;
  padding-right: 64px;
  flex: 0 0 200px;
}

.main-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.navbar-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.navbar-end > .navbar-item {
  padding-left: 0;
}

.navbar-item .navbar-link::after {
  border-color: currentColor;
  border-width: 0 0 2px 2px;
}

.no-dropdown {
  padding-right: 0.75rem;
}

.no-dropdown::after {
  border: none;
}

.navbar-dropdown {
  width: 240px;
  top: 64px;
  z-index: 99999;
  box-shadow: 0 16px 48px 0 rgba(31, 32, 68, 0.08);
  -webkit-box-shadow: 0 16px 48px 0 rgba(31, 32, 68, 0.08);
  padding: 20px 24px 16px 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius-default);
}

.navbar-dropdown .navbar-item {
  padding-left: 0;
  padding-right: 0;
}

.navbar-dropdown a.navbar-item:hover {
  background: var(--color-white);
  color: var(--color-xmr-accent);
}

#topbar-nav {
  flex: 0 0 52%;
  justify-content: flex-end;
}

#subbar-nav {
  padding-right: 48px;
}

.navbar .button:hover {
  background-color: var(--color-xmr-silver);
  border-color: var(--color-xmr-silver);
}

.nav-menu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home-o.svg);
}

/* Searching */

div.search-result-document-hit .search-result-highlight {
  color: var(--color-xmr-accent);
  background: rgba(237, 143, 143, 0.1);
}

div.search-result-document-hit > a:hover {
  background-color: rgba(225, 69, 90, 0.05);
}

/* Sidebar */
.nav-panel-explore {
  background: var(--color-white);
}

.nav-panel-explore .context {
  -webkit-box-shadow: 0;
  box-shadow: none;
}

/* Toolbar */
.toolbar {
  padding-right: 48px;
}

/* Footer */
.footer.footer {
  padding: 0;
}

.footer-wrap,
.site-info {
  margin: 0 auto;
  max-width: 1248px;
}

.footer-wrap::after {
  content: "";
  display: table;
  clear: both;
}

.headline {
  color: var(--color-xmr-accent);
  font-size: 14px;
}

#footer-nav\ navbar .navbar-item {
  text-transform: none;
  font-size: 16px;
  padding-left: 0;
}

.column {
  float: left;
  width: 30%;
}

.column.right { width: 20%; }

.column.middle {
  width: 20%;
}

.footer a {
  color: var(--footer-font-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-xmr-accent);
}

.site-info {
  text-align: center;
  padding-bottom: 56px;
}

.footer-widget-wrap {
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-menu-wrap {
  padding: 56px 0 !important;
}

/* Social Nav */
#social-nav {
  font-size: 24px;
}

#social-nav a {
  padding-right: 24px;
  color: var(--color-black);
}

.footer-wrap #social-nav a {
  padding-right: 24px;
  color: var(--footer-font-color);
}

/* Call-to-action button */
.control.cta-wrap {
  padding-left: 16px;
}

.control.cta-wrap a {
  height: 40px;
  padding: 8px 32px;
}

/* Button */
a.button.is-secondary {
  color: var(--color-black);
  background-color: var(--color-xmr-light);
  -webkit-box-shadow: 0 2px 8px 0 rgba(31, 32, 68, 0.16);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 2px 8px 0 rgba(31, 32, 68, 0.16);
  border-color: var(--color-xmr-light);
  margin-left: 16px;
}

a.button.is-secondary:hover {
  color: var(--color-xmr-silver);
  background-color: var(--color-xmr-light);
  border-color: var(--color-xmr-light);
  box-shadow: none;
  -webkit-box-shadow: none;
}

.doc pre.highlight code,
.doc .admonitionblock td.content,
.doc .videoblock iframe,
.doc .imageblock,
.doc .quoteblock,
.doc .verseblock,
input#search-input {
  border-radius: var(--border-radius-default);
}

.navbar .button {
  border-radius: var(--border-radius-large);
}
