/* xmera custom css */
/* Navbar */
.navbar-logo {
  max-height: 36px;
  width: auto;
  margin-top: 12px;
}

.navbar-brand {
  padding-left: 48px;
  padding-right: 64px;
  flex: 0 0 200px;
}

.navbar-item {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

.navbar-end > .navbar-item {
  padding-left: 0;
}

.navbar-end .navbar-link::after {
  border-color: currentColor;
}

.navbar-link::after {
  border-width: 0 0 2px 2px;
}

.navbar-dropdown {
  top: 64px;
  z-index: 99999;
  box-shadow: 0 16px 48px 0 rgba(31, 32, 68, 0.08);
  -webkit-box-shadow: 0 16px 48px 0 rgba(31, 32, 68, 0.08);
  padding: 40px 24px 16px 40px;
  border: none;
}

.navbar-dropdown a.navbar-item:hover {
  background: var(--navbar_hover-background);
  color: var(--link_hover-font-color);
}

#topbar-nav {
  flex: 0 0 50%;
}

#subbar-nav {
  padding-right: 48px;
}

.navbar .button:hover {
  background-color: var(--color-xmr-silver);
  border-color: var(--color-xmr-silver);
}

.nav-menu {
  padding: 4rem 2rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: none;
}

/* Sidebar */
.nav-panel-explore {
  background: var(--color-white);
}

.nav-panel-explore .context {
  -webkit-box-shadow: 0;
  box-shadow: none;
}

/* Toolbar */
.toolbar {
  padding-right: 48px;
}

/* Footer */
.footer.footer {
  padding: 0;
}

.footer-wrap {
  padding: 96px 0;
  margin: 0 auto;
  max-width: 1248px;
}

#footer-nav\ navbar {
  flex: 0 0 85%;
}

#footer-nav\ navbar .navbar-item {
  text-transform: none;
  font-size: 16px;
}

.footer a {
  color: var(--footer-font-color);
  text-decoration: none;
}

.footer-menu-wrap,
.site-info,
.footer-widget {
  margin-left: 24px;
  margin-right: 24px;
}

.footer-widget-wrap {
  padding-bottom: 48px;
}

.footer-menu-wrap {
  padding: 56px 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 56px;
  display: flex;
}

/* Social Nav */
#social-nav {
  font-size: 24px;
}

#social-nav a {
  padding-right: 24px;
}

/* Call-to-action button */
.control.cta-wrap {
  padding-left: 16px;
}

.control.cta-wrap a {
  height: 40px;
  padding: 8px 32px;
}

/* Button */
a.button.is-secondary {
  color: var(--color-black);
  background-color: var(--color-xmr-light);
  -webkit-box-shadow: 0 2px 8px 0 rgba(31, 32, 68, 0.16);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 2px 8px 0 rgba(31, 32, 68, 0.16);
  border-color: var(--color-xmr-light);
  margin-left: 16px;
}

a.button.is-secondary:hover {
  color: var(--color-xmr-silver);
  background-color: var(--color-xmr-light);
  border-color: var(--color-xmr-light);
  box-shadow: none;
  -webkit-box-shadow: none;
}
